April 1 2020

Yesterday I spent the day learning about Natural Language Processing. What I found the most interesting and will probably be using a ton in the future is the TF-IDF score. The TF stands for Term Frequency and the IDF is Inverse Document Frequency. So when you mulipy these two values together you get the amount of times a word is used in its own specific text multiplied by the log of it occurs regularly in the other texts as well. Therefore scoring the word higher the more unique it is to specific texts so that you can better model differences between your documents.

Normally you would clean the data first but I am still getting used to used to using the TfidfVectorizer() so below is a very basic example.

In [3]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder

In [4]:
# read in data
df_messages = pd.read_csv('data/spam.csv', usecols=[0,1])

# convert string labels to 1 or 0 
le = LabelEncoder()
df_messages['target'] = le.fit_transform(df_messages['v1'])

X = df_messages['v2']
y = df_messages['target']

In [6]:

vectorizer = TfidfVectorizer()
tf_idf = vectorizer.fit_transform(X)
nlpskl = pd.DataFrame(tf_idf.toarray(), columns=vectorizer.get_feature_names())
nlpskl.head()

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zebra,zed,zeros,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0